<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Let real files pass through unchanged
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]
    
    # Let real directories pass through unchanged
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]
</IfModule>

AddType application/javascript js
AddType text/css css










